server:
  port: 8891
spring:
  application:
    name: module-comment
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/brownie
    username: root
    password: abc123456
  jackson:
    # 返回json的全局时间格式
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

feign:
  client:
    config:
      default:
        connectTimeout: 60000
        readTimeout: 60000

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl